.theme__toggle--btn {
  background: transparent;
  border: none;
  color: var(--text-color);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6rem;
  padding: 0 1rem;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  background-color: var(--element-bg);
}

.header__title {
  font-weight: 800;
  font-size: 0.875rem;
}

.header__text {
  font-weight: 600;
  font-size: 0.875rem;
}

.moon__icon {
  width: 1.125rem;
  height: 1.125rem;
  display: inline-block;
  transition: fill 0.2s ease;
}

.theme__toggle--btn:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 48rem) {
  .header__content {
    padding: 0 3.5rem;
    height: 4rem;
  }

  .header__title {
    font-size: 1.25rem;
  }
}
